## Assignment 1

In [104]:
import pandas as pd
import os

In [105]:
df = pd.read_csv('./faa_ai_prelim.csv')

### 1. View: aircraft make name, state name, aircraft model name, text information, flight phase, event description type, fatal flag

In [106]:
print(df[['ACFT_MAKE_NAME', 'LOC_STATE_NAME', 'ACFT_MODEL_NAME', 'RMK_TEXT', 'FLT_PHASE', 'EVENT_TYPE_DESC', 'FATAL_FLAG']])

    ACFT_MAKE_NAME  LOC_STATE_NAME ACFT_MODEL_NAME  \
0            BEECH  North Carolina              36
1             VANS         Florida             RV7
2           CESSNA      New Jersey             172
3          LANCAIR  North Carolina             235
4           CESSNA          Alaska             172
..             ...             ...             ...
78         AERONCA           Texas            O58B
79  NORTH AMERICAN         Arizona             F51
80        CHAMPION      California           8KCAB
81           BEECH      California              35
82          CESSNA         Alabama             182

                                             RMK_TEXT       FLT_PHASE  \
0   AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...   UNKNOWN (UNK)
1   AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...   LANDING (LDG)
2   AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...  APPROACH (APR)
3   AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...   LANDING (LDG)
4   AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...   LANDING (LDG)
..                                                ...             ...
78  AIRCRAFT ON LANDING, GROUND LOOPED, BULVERDE A...   LANDING (LDG)
79  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...   UNKNOWN (UNK)
80  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...   UNKNOWN (UNK)
81  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...   UNKNOWN (UNK)
82  N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...   UNKNOWN (UNK)

   EVENT_TYPE_DESC FATAL_FLAG
0         Accident        Yes
1         Incident        NaN
2         Incident        NaN
3         Incident        NaN
4         Incident        NaN
..             ...        ...
78        Accident        NaN
79        Accident        Yes
80        Accident        Yes
81        Accident        Yes
82        Accident        Yes

[83 rows x 7 columns]

### 2. Clean the dataset and replace the fatal flag NaN with “No”

In [107]:
df['FATAL_FLAG'] = df['FATAL_FLAG'].fillna('No')
print(df['FATAL_FLAG'])

0     Yes
1      No
2      No
3      No
4      No
     ...
78     No
79    Yes
80    Yes
81    Yes
82    Yes
Name: FATAL_FLAG, Length: 83, dtype: object

### 3. Find the aircraft types and their occurrences in the dataset

In [108]:
df["count"] = 1 
df.groupby(["ACFT_MAKE_NAME", "ACFT_MODEL_NAME"]).count()["count"]

ACFT_MAKE_NAME          ACFT_MODEL_NAME
AERO COMMANDER          500                1
AERONCA                 O58B               1
AEROSTAR INTERNATIONAL  RX8                1
AIRBUS                  A319               1
BEECH                   33                 1
                        35                 3
                        36                 3
                        55                 1
                        T34                1
BELL                    206                1
                        47G                1
BOEING                  737                2
                        747                1
CESSNA                  140                1
                        150                3
                        152                2
                        172                4
                        175                1
                        180                1
                        182                2
                        206                2
                        210                4
                        310                2
                        560                1
CHAMPION                8KCAB              2
CHRISTEN                EAGLE II           1
CONSOLIDATED VULTEE     BT15               1
EMBRAER                 ERJ190             1
FAIRCHILD               PT19               1
FLIGHT DESIGN           CTLS               1
GLOBE                   GC1B               1
GREAT LAKES             2T1A               1
GRUMMAN                 AA1                1
GULFSTREAM              GULFSTREAM200      1
HUGHES                  369                1
LANCAIR                 235                1
                        IV                 1
MAULE                   M4                 1
MOONEY                  M20E               1
                        M20K               2
                        M20M               1
NORTH AMERICAN          F51                1
PIPER                   PA20               1
                        PA24               2
                        PA28               3
                        PA31               1
                        PA34               3
PITTS                   S2                 1
SAAB                    340                1
SABRELINER              NA265              1
SOCATA                  TB21               1
                        TB9                1
VANS                    RV7                1
Name: count, dtype: int64

### 4. Remove all the observations where aircraft names are not available

In [109]:

nan_value = float('NaN') 
df.replace('', nan_value, inplace=True)
df.dropna(subset = ['ACFT_MAKE_NAME'], inplace=True)

# df['ACFT_MAKE_NAME'].head(10)

# we can't see row 9 as it was dropped due to it not having an available aircraft_make_name, 
# so we would need to 'reset' the row numbers so that the row numbers are in an order of incrementing 1

df = df.reset_index(drop=True)

df['ACFT_MAKE_NAME'].head(10)

0      BEECH
1       VANS
2     CESSNA
3    LANCAIR
4     CESSNA
5       BELL
6      PIPER
7     CESSNA
8     BOEING
9     CESSNA
Name: ACFT_MAKE_NAME, dtype: object