## Assignment 1

In [25]:
import pandas as pd
import os

In [26]:
df = pd.read_csv('./faa_ai_prelim.csv')

### 1. View: aircraft make name, state name, aircraft model name, text information, flight phase, event description type, fatal flag

In [27]:
print(df[['ACFT_MAKE_NAME', 'LOC_STATE_NAME', 'ACFT_MODEL_NAME', 'RMK_TEXT', 'FLT_PHASE', 'EVENT_TYPE_DESC', 'FATAL_FLAG']])

    ACFT_MAKE_NAME  LOC_STATE_NAME ACFT_MODEL_NAME  \
0            BEECH  North Carolina              36
1             VANS         Florida             RV7
2           CESSNA      New Jersey             172
3          LANCAIR  North Carolina             235
4           CESSNA          Alaska             172
..             ...             ...             ...
78         AERONCA           Texas            O58B
79  NORTH AMERICAN         Arizona             F51
80        CHAMPION      California           8KCAB
81           BEECH      California              35
82          CESSNA         Alabama             182

                                             RMK_TEXT       FLT_PHASE  \
0   AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...   UNKNOWN (UNK)
1   AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...   LANDING (LDG)
2   AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...  APPROACH (APR)
3   AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...   LANDING (LDG)
4   AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...   LANDING (LDG)
..                                                ...             ...
78  AIRCRAFT ON LANDING, GROUND LOOPED, BULVERDE A...   LANDING (LDG)
79  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...   UNKNOWN (UNK)
80  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...   UNKNOWN (UNK)
81  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...   UNKNOWN (UNK)
82  N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...   UNKNOWN (UNK)

   EVENT_TYPE_DESC FATAL_FLAG
0         Accident        Yes
1         Incident        NaN
2         Incident        NaN
3         Incident        NaN
4         Incident        NaN
..             ...        ...
78        Accident        NaN
79        Accident        Yes
80        Accident        Yes
81        Accident        Yes
82        Accident        Yes

[83 rows x 7 columns]

### 2. Clean the dataset and replace the fatal flag NaN with “No”

In [28]:
df['FATAL_FLAG'] = df['FATAL_FLAG'].fillna('No')
df['FATAL_FLAG']

0     Yes
1      No
2      No
3      No
4      No
     ...
78     No
79    Yes
80    Yes
81    Yes
82    Yes
Name: FATAL_FLAG, Length: 83, dtype: object

### 3. Find the aircraft types and their occurrences in the dataset